/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* COMMON */
.margin-b {
    margin-bottom: 2em;
}

/* font */
.heart {
    font-size: 1.5em;
    color: red;
    vertical-align: center;
}

/* LAYOUT */
.container {
    width: 60%;
    margin: 30px auto;
}

/* header */
header {
    height: 100px;
}

header img {
    height: 75px;
    border-right: 1px solid #e5e5e5;
    padding-right: 1em;
}

/* nav */
nav li {
    list-style: none;
    display: inline-block;
    padding-right: 1em;
}

nav li a {
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #858585;
}

/* jumbotron */

.jumbotron {
    height: 350px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}

.main-container {
    background-color: #2486fd;
    margin-bottom: 10px;
    height: 500px; /*da eliminare*/
}

.main-container div {
    background-color: #abcfe7;
}

.main-header {
    height: 50px; /*da eliminare*/
}

.main-center {
    margin: 0 30px;
    width: calc(60% - 60px);
}

.column {
    float: left;
    height: 390px; /*da eliminare*/
}

.main-left, .main-right {
    width: 20%;
}

footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #893cfe;
}